version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: empleados_db
      MYSQL_USER: demo
      MYSQL_PASSWORD: demopass
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./mysql_init:/docker-entrypoint-initdb.d

  minio:
    image: minio/minio:latest
    container_name: minio
    command: server /data --console-address ":9001"
    restart: unless-stopped
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioroot
      MINIO_ROOT_PASSWORD: minio123
    volumes:
      - minio_data:/data

  backend:
    build: ./backend
    container_name: backend
    restart: always
    depends_on:
      - mysql
      - minio
    environment:
      DB_HOST: mysql
      DB_PORT: 3306
      DB_NAME: empleados_db
      DB_USER: demo
      DB_PASSWORD: demopass

      MINIO_URL: http://minio:9000
      MINIO_ACCESS: minioroot
      MINIO_SECRET: minio123

      FRONTEND_URL: http://frontend:80

      MAIL_USER: djquitox2@gmail.com
      MAIL_PASS: qdgu fzoy ebzg bnep
    ports:
      - "8080:8080"

  frontend:
    build: ./frontend
    container_name: frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "4200:80"

volumes:
  mysql_data:
  minio_data:
