<div class="form-container">
  <form [formGroup]="justificationForm" (ngSubmit)="submitJustification()" enctype="multipart/form-data">
    <div class="row">
      <h2 class="form--title">
        <ng-container *ngIf="employeeTime">
          Justificación de {{ employeeTime?.timeDay | date: 'dd/MM/yyyy' }} - {{ employeeTime?.timeDay | date: 'HH:mm' }}
        </ng-container>
        <ng-container *ngIf="!employeeTime">
          Justificación
        </ng-container>
      </h2>
    </div>

    <div class="row">
      <div class="input-field">
        <label for="observation">Observación</label>
        <textarea id="observation" rows="4" formControlName="justificationObservation"></textarea>
      </div>
    </div>

    <div class="row">
      <div class="input-field">
        <label for="file">Archivo Adjunto</label>
        <input type="file" id="file" (change)="onFileSelected($event)" />
      </div>
    </div>

    <div class="form--actions">
      <button type="button" (click)="cancel()">Cancelar</button>
      <button type="submit" [disabled]="!justificationForm.valid || !selectedFile">Guardar</button>
    </div>
  </form>
</div>