<div class="list--container">
  <div class="list--header">
    <h2>Lista de Usuarios</h2>
  </div>
  <div class="list--body">
    <div class="list--filters">
      <input
        type="text"
        placeholder="Buscar por nombre"
        [(ngModel)]="nameFilter"
        (input)="fetchUsers()"
      />
    </div>
    <div class="list--actions">
            <button class="export--button" (click)="exportToExcel()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-file-earmark-excel"
          viewBox="0 0 16 16"
        >
          <path
            d="M5.884 6.68a.5.5 0 1 0-.768.64L7.349 10l-2.233 2.68a.5.5 0 0 0 .768.64L8 10.781l2.116 2.54a.5.5 0 0 0 .768-.641L8.651 10l2.233-2.68a.5.5 0 0 0-.768-.64L8 9.219z"
          />
          <path
            d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"
          />
        </svg>
      </button>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Email</th>
          <th>Rol</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (u of userList; track $index) {
        <tr>
          <td>{{ u.userName }}</td>
          <td>{{ u.email }}</td>
          <td>{{ u.userRole }}</td>
          <td><span class="{{getStateClass(u.userState)}}">{{getCheckStateText(u.userState)}}</span></td>
          @if (u.userState) {
          <td>
            <button class="delete--button" (click)="deleteUser(u.email)">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-trash-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"
                />
              </svg>
            </button>
          </td>
          }
        </tr>
        }
      </tbody>
    </table>
  </div>
  <div class="list--pagination">
    <div class="pagination-left">
      <label for="size-select">Cantidad:</label>
      <select id="size-select" [(ngModel)]="size" (change)="fetchUsers()">
        <option [value]="5">5</option>
        <option [value]="10">10</option>
        <option [value]="20">20</option>
      </select>
    </div>
    <div class="pagination-right">
      <button (click)="previousPage()" [disabled]="page === 0">«</button>
      <ng-container *ngFor="let p of totalPagesArray; let i = index">
        <button (click)="goToPage(i)" [class.active]="page === i">
          {{ i + 1 }}
        </button>
      </ng-container>
      <button (click)="nextPage()" [disabled]="page >= totalPages - 1">
        »
      </button>
    </div>
  </div>
</div>

<!-- Modal de confirmación -->
<div class="modal-overlay" *ngIf="showConfirmModal">
  <div class="modal-content">
    <h3>¿Está seguro de querer eliminar el usuario seleccionado?</h3>
    <div class="modal-buttons">
      <button (click)="confirmDelete()">Sí, Eliminar</button>
      <button (click)="cancelDelete()">Cancelar</button>
    </div>
  </div>
</div>
